@page "/"
@using BLX.Models;
@using Microsoft.EntityFrameworkCore;
@inject HttpClient Http
@inject BLXContext _context
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor

<style>
    .form-container {
        max-width: 600px;
        margin: 50px auto;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .form-container h3 {
        background-color: #1b6ec2;
        border-radius: 15px 15px 10px 10px;
        height: 80px;
        color: white;
        font-weight: bold;
        font-size: 27px;
    }

    .form-container .check-info{
        background-color: #5b9bd6;
        border: none;
        width: 100px;
        height: fit-content;
    }

    .form-info{
        padding: 30px;
    }

    .info-user{
        border-radius: 15px;
        background: #d1d1d1;
        margin: 20px 0;
        padding: 15px 10px;
    }

    .btn-submit{
        background-color: #70ad46;
        border: none;
        padding: 10px 15px;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container p-0 card">
                <form>
                    <h3 class="text-center d-flex align-items-center justify-content-center">KIỂM TRA KẾT THÚC MÔN HỌC LÝ THUYẾT</h3>
                    <div class="form-info">
                        <div class="row">
                            <div class="col-9">
                                <div class="form-group">
                                    <label for="location">Địa điểm:</label>
                                    <select class="form-control" id="location">
                                        <option value="option1">Trường trung cấp nghề giao thông vận tải Quảng Trị</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="course">Khóa học:</label>
                                    <select class="form-control" @bind="selectedSemester">
                                        @foreach (var semester in semesters)
                                        {
                                            <option value="@semester.Id">@semester.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="SBD">Số báo danh:</label>
                                    <input type="text" class="form-control" @bind="SBD">
                                </div>
                                <div class="form-group">
                                    <label for="licenseClass">Hạng GPLX:</label>
                                    <select class="form-control" @bind="Rank">
                                        <option value="B11">Hạng B11</option>
                                        <option value="B2">Hạng B2</option>
                                        <option value="C">Hạng C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <button @onclick="CheckInformation" type="button" class="mt-2 btn btn-primary btn-block check-info">Kiểm tra thông tin</button>
                            </div>
                        </div>
                        @if(user != null)
                        {
                            <div class="form-group info-user">
                                <div>
                                    <label>Họ tên: @user.Name</label>
                                </div>
                                <div class="row p-0 mt-2">
                                    <div class="col-6">
                                        <label>
                                            Ngày sinh:
                                            @if (user.NamSinh != null)
                                            {
                                                @DateTime.Parse(user.NamSinh.ToString()).ToString("dd/MM/yyyy")
                                            }
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label>CCCD/CMT: @user.Cccd</label>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="form-group d-flex align-items-center justify-content-center">
                            <button type="button" disabled="@(!isButtonEnabled)" @onmousedown="HandleButtonClick" class="mt-2 btn btn-primary btn-block btn-submit">Vào kiểm tra</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<MessageBox Title="Cảnh báo" Message="@Message" Show="@showOkMessageBox" OnOk="HandleOkClick" />
@code {
    private List<Semester> semesters = new List<Semester>();
    private Guid selectedSemester;
    private int SBD;
    private string Rank = "B11";
    private User user;
    private bool isButtonEnabled = false;
    private bool showOkMessageBox = false;
    public string UserId;
    public string Message;
    protected override async Task OnInitializedAsync()
    {
        semesters = await _context.Semesters.ToListAsync();
        if (semesters.Any())
        {
            selectedSemester = semesters.First().Id;
        }
    }

    private async void HandleButtonClick()
    {
        var item = await _context.Users.FirstOrDefaultAsync(x => x.Id == Guid.Parse(UserId));
        if (item.Status == true)
        {
            showOkMessageBox = true;
            Message = "Thí sinh đã tham gia dự thi, nếu có vấn đề về kỹ thuật vui lòng liên hệ giáo viên!!";
        }
        if (item.Status == false)
        {
            item.Status = true;
            _context.Update(item);
            _context.SaveChanges();
            NavigationManager.NavigateTo($"/vao_thi/{UserId}");
        }
    }

    private async void CheckInformation()
    {
        user = await _context.Users.FirstOrDefaultAsync(x => x.SemesterId == selectedSemester && x.Sbd == SBD && x.Rank == Rank);
        if (user == null)
        {
            showOkMessageBox = true;
            Message = "Thông tin thí sinh không chính xác";
            this.StateHasChanged();
            return;
        }
        UserId = user.Id.ToString();
        isButtonEnabled = user != null;
        this.StateHasChanged();
    }

    private void HandleOkClick(bool result)
    {
        showOkMessageBox = false;
    }
}
