<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@code{
    private RenderFragment SetLayout(RouteData routeData) => builder =>
    {
        var layout = routeData.PageType.Name.StartsWith("AdminManage") ? typeof(AdminManage) : typeof(MainLayout);
        builder.OpenComponent<LayoutView>(0);
        builder.AddAttribute(1, "Layout", layout);
        builder.CloseComponent();
    };
}